.content {
  display: flex;
  flex-direction: column;
  color: #E2E8F0;
  justify-content: center;
  align-items: center;
  border: #7A7D7D 1px solid;
  border-radius: 1rem;
  margin: 3rem 5rem 3rem 5rem;
  background-color: var(--background-color);
  padding: 3rem;
  height: calc(100% + 100px);
}

.content img {
  @media (min-width: 768px) {
    width: 30%;
  }
  @media (max-width: 768px) {
    width: 70%
  }
}

.johnnys {
  justify-content: center;
  align-items: center;
  /*clip-path: inset(20% 0 0 0);*/
  margin: 1rem 0 1rem 0;


}

.frontshot {
  clip-path: inset(0 0 1rem 0);
  margin: 1rem;


}

.content a {
  text-decoration: underline;
  margin: 1rem 0 2rem 0;
}

.blakeKissing {
  margin: 0 0 2rem 0;
}
