.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E2E8F0;
  border: #94A3B8 1px solid;
  border-radius: .5rem;
  background-color: var(--background-color);
  height: calc(100% + 100px);
  padding: 2rem;
  @media (min-width: 768px) {
    width: 70%;
    margin: 3rem auto;

  }

  @media (max-width: 768px) {
    margin: 3rem 2rem;
  }
}

.project h2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0 0 .5rem 0;
}

.content p {
  text-align: center;
  line-height: 1.4rem;
}

.coachingSiteImg {
  width: 30vw;
  margin: 1rem;
}

.technologyTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
