.navbar {
  display: flex;
  position: relative;
  align-items: center;
  /*background-color: #7A7D7D;*/
  color: #121218;
  height: 80px;
  background-image: linear-gradient(to bottom, #D0CFCF,
  rgba(122, 125, 125, .5) 95%,
  rgba(122, 125, 125, 0) 100%);
  z-index: 100;
  padding-bottom: 0;
}

.navbar a {
  margin-left: 1rem;
  @media (max-width: 768px) {
    margin-left: 2rem;
    scale: 2;
  }
}

.spacer {
  flex: 3;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  flex: 1;
  margin-right: 1rem;
}

.navbar ul li {
  /* strong */
  font-weight: 700;
}

.mobileMenu {
  display: flex;
}
