.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: #FFFBFE 1px solid;
  border-radius: 1rem;
  color:#E2E8F0;
  margin: 1.5rem 5rem 2rem 5rem;
}

.card {
  min-width: 80%;
  align-content: center;

}

.card h1 {
  margin-left: 1rem;
}

.card h2 {
  margin-left: 1rem;
}

.card h3 {
  margin-left: 1rem;
}

.cardContent {
  display: flex;
  color: #94A3B8;
}



.cardContent img {
  width: 30%;
  margin: 1rem;
}

.cardContent div {
  margin: 1rem;
  font-size: 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  justify-content: space-around;

}

.links a {
  margin: .3rem;
}
