.datingApplication {
  color: var(--text-color);
  padding: 1rem;
}

.datingApplication form {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 1rem;
}

.socialsItem {
  flex: 0 0 calc(50% - 3rem);
  box-sizing: border-box;
  margin: 0 1rem;
}
